@media screen and (max-width: 600px)
	.site-header
		border: 1px solid black
		margin-bottom: 2em
		text-align: center

		img
			max-width: 400px
			width: 100%

		.main-navigation
			display: flex
			justify-content: space-between

			.main-menu			 		
				.menu-toggle, .main-navigation.toggled
					margin: 0
					font-size: 1.2rem
					font-weight: 100
					
			.social-media-menu
				li
					padding: 0 0.6em 0 0

	.site-footer
		border-top: 1px solid black
		margin-top: 10px
		padding: 10px
		text-align: center
		font-size: 0.7rem
			
		a	
			font-weight: 900
