


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul 
	display: block

.menu-toggle
	background: none
	border: none
	text-transform: uppercase
	font-size: 0.8rem
	font-weight: 200

//Need help making this do so the whole thing goes down instead of up, 
//and pushes down content for mobile.

.main-navigation 
	ul 
		display: none
		list-style: none
		margin: 0
		padding-left: 0
		line-height: 2em


		li 
			padding-left: 1em
			display: block

		a 
			font-size: 0.8rem
			font-weight: 200
			color: black
			text-decoration: none
			&:hover
				color: blue		
		ul 
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
			background-color: #fff
			float: left
			position: absolute
			top: 2em
			left: -999em
			z-index: 99999

			li
				border-top: 1px solid #eee

			a 
				width: 150px

/* Desktop */

//Need help showing child elements from PRODUCTIONS (Ul ul)

@media screen and (min-width: 843px) 
	.menu-toggle 
		display: none
	
	.main-navigation 

		ul 
			display: block
			list-style: none
			margin: 0
			padding-left: 0
			line-height: 2em

			li 
				padding-left: 1em
				display: inline

			a 
				font-size: 0.8rem
				font-weight: 200
				color: black
				text-decoration: none
				
				&:hover
					color: blue	
			ul 
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
				background-color: #fff
				float: left
				position: absolute
				top: 2em
				left: -999em
				z-index: 99999

				li
					border-top: 1px solid #eee

				a 
					width: 150px
				



// /* Desktop Menu */

// @media screen and (min-width: 815px) 
// 	.menu-toggle 
// 		display: none
	
// 	.main-navigation
// 		ul
// 			padding-bottom: 5px
// 			display: block

// 			li
// 				display: inline
// 				padding-left: 0.2em
				
// 				a
// 					font-size: 0.8rem
// 					font-weight: 200
// 					color: black
// 					text-decoration: none
// 				&:hover
// 					text-decoration: underline

// 			ul
// 				position: absolute
// 				background: #fff

			

// .comment-navigation,
// .posts-navigation,
// .post-navigation 

// 	.site-main & 
// 		margin: 0 0 1.5em
// 		overflow: hidden
	

// 	& .nav-previous 
// 		float: left
// 		width: 50%
	

// 	& .nav-next 
// 		float: right
// 		text-align: right
// 		width: 50%
	
